body {
    background-image: url("../images/round.png");
  }
  
  #train-inputs {
    margin-top: 30px;
    border: 2px solid black;
  }
  
  #train-table {
    margin-bottom: 20px;
    border: 2px solid black;
  }
  
  .jumbotron {
    background-color: gray;
    color: black;
    border: 2px solid black;
    margin-top: 20px;
  }
  
  #train-table,
  #train-form {
    background-color: white;
  }
  
  #train-form {
    padding: 30px;
  }
  
  #train-table{
    padding: 30px;
  }
  
  #instructions,
  #disclaimer {
    font-size: 12px;
  }
  
  #last-div {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .btn {
    background-color: black;
    border-color: black;
  }
  
  .btn:hover {
    background-color: black;
    border-color: black;
  }
  